* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
  
header{
    height: 100px;
    line-height: 100px;
    display: inline-block;
    padding-left: 50px;
    background-color: white;
    margin-bottom: 50px ;
    width: 100%;
}

header h1{
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
}

header img{
    vertical-align: middle;
}
  
  
.container {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
}

.action{
    padding: 30px;
    background-color: white;
    bord
    
}

main{
    background-color: white;
    margin: 350px;
    margin-top: 30px;
    padding: 50px;
    padding-top: 20px;
    border-radius: 8px;
}



body{
    font-family:"Lato";
    font-size: 18px;
    font-weight: 400;
    background-color: lightgray;
}

div{
    display:inline;
}
  

.btn{
    background-color: #46adf1;
    color: white;
    padding: 5px;
    margin-right: 8px;
}

.btn1{
    border-radius: 3px;
    background-color: white; 
    color: lightgray;
    padding: 5px;
}

.border-radius{
    border-radius: 6px;
    border: 2px solid #46adf1;
}

.border-radius1{
    border-radius: 6px;
    border: 2px solid #e7e7e7;
}

li{
    list-style: none;
}
s

h2::before{
    content: "\25be";
    font-size: 18px;
}

.font{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 4px;
}

.spazio{
    margin-top: 6px;
}

.pallini{
    list-style-type: none;
}

.padding{
    padding-left: 6px;
}

.si{
    color: #7fc8b3;
}

.no{
    color: #f3a9a9;
}

.bollino{
    
    font-size: 12px;
    border-radius: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 6px;
    padding-left: 6px;
}

.lista{
    margin-bottom: 12px;
}

.colore{
    background-color: #9d72e3;
}

.colore2{
    background-color: #63bfa8;
}

.colore3{
    background-color: #f39c2f;
}