* {
    box-sizing: border-box;
}
  
  
.container {
    width: 100px;
    margin-left: 20px;
    margin-bottom: 200px;
}

body{
    margin-top: 0px;
}

div{
    display:inline;
}
  
 header {
    line-height: 100px;
}
  
 #logo {
    width:80px;
    vertical-align: middle;
}   

.title {
    font-size: 40px;
    display: inline;
    vertical-align: middle;
  }