* {
    box-sizing: border-box;
}
  
  
.container {
    width: 1200px;
    margin-left: 20px;
    
    
}

div{
    display:inline;
}
  
 header {
    line-height: 150px;
    height: 150px;
}
  
 #logo {
    width:80px;
    vertical-align: middle;
}   

.title {
    font-size: 40px;
    display: inline;
    vertical-align: middle;
  }